.home{
        background: linear-gradient(to left, rgb(0, 0, 0), rgba(9, 9, 9, 0.842), rgba(16, 16, 16, 0.859), rgb(0, 0, 0)), url('../../assets/bg.avif');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
}